@import '../../../styles';
@import 'variables';

.oxd-menu-icon {
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  vertical-align: middle;
  &.icon-search {
    background-image: url(~assets/images/magnifying-icon.png);
  }
  &.icon-home {
    background-image: url(~assets/images/home-icon.png);
  }
  &.icon-home-w {
    background-image: url(~assets/images/home-icon-w.png);
  }
  &.icon-pim {
    background-image: url(~assets/images/pim-icon.png);
  }
  &.icon-pim-w {
    background-image: url(~assets/images/pim-icon-w.png);
  }
  &.icon-time {
    background-image: url(~assets/images/time-icon.png);
  }
  &.icon-recruitment {
    background-image: url(~assets/images/recruitment-icon.png);
  }
  &.icon-recruitment-w {
    background-image: url(~assets/images/recruitment-icon-w.png);
  }
  &.icon-leave {
    background-image: url(~assets/images/leave-icon.png);
  }
  &.icon-leave-w {
    background-image: url(~assets/images/leave-icon-w.png);
  }
  &.icon-discipline {
    background-image: url(~assets/images/discipline-icon.png);
  }
  &.icon-training {
    background-image: url(~assets/images/training-icon.png);
  }
  &.icon-development {
    background-image: url(~assets/images/development-icon.png);
  }
  &.icon-onboarding {
    background-image: url(~assets/images/onboarding-icon.png);
  }
  &.icon-expences {
    background-image: url(~assets/images/expences-icon.png);
  }
  &.icon-report {
    background-image: url(~assets/images/report-icon.png);
  }
  &.icon-admin {
    background-image: url(~assets/images/admin-icon.png);
  }
  &.icon-admin-w {
    background-image: url(~assets/images/admin-icon-w.png);
  }
  &.icon-account-edit {
    background-image: url(~assets/images/accountedit-icon.png);
  }
  &.icon-myinfo {
    background-image: url(~assets/images/myinfo-icon.png);
  }
  &.icon-recent {
    background-image: url(~assets/images/recent-icon.png);
  }
  &.icon-user {
    background-image: url(~assets/images/user-icon.png);
  }
  &.icon-log {
    background-image: url(~assets/images/log-icon.png);
  }
}

.oxd-main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-y: auto;
  flex-flow: column;
  overflow-x: hidden;
  @include oxd-scrollbar();
  $parent: &;
  &-item {
    display: block;
    text-align: left;
    padding: 0.55rem;
    text-decoration: none;
    padding-left: 30px;
    &--name {
      display: inline;
      text-align: left;
      padding-left: 15px;
      font-size: $oxd-menu-item-name-font-size;
      font-weight: $oxd-menu-item-name-font-weight;
      color: $oxd-menu-item-name-color;
      &.active {
        color: $oxd-menu-item-name-color--active;
      }
    }
    &:hover {
      color: $oxd-menu-item-name-color--hover;
      background-color: $oxd-menu-item-hover-color;
      box-shadow: 1px 1px 10px 5px rgb(255 94 0 / 12%);
      transition-timing-function: ease-out;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      transition: 0.45s;
    }
    &.active {
      color: $oxd-menu-item-name-color--active;
      background-color: $oxd-menu-item-active-color;
      box-shadow: 1px 1px 10px 5px rgb(255 94 0 / 12%);
      transition-timing-function: ease-out;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-image: $oxd-menu-item-active-gradient;
    }
    &.toggle {
      @include oxd-respond-to('md') {
        #{$parent}-item--name {
          text-align: center;
          display: block;
          margin-left: -15px;
          padding: 0;
          font-size: 9px;
        }
      }
    }
    &-wrapper {
      list-style: none;
    }
  }
  & hr {
    border: 0;
  }
  &-divider {
    border-top: $oxd-main-menu-hr !important;
    margin: 5px 1rem;
  }
  &-search {
    display: block;
    text-align: left;
    padding: 0.55rem;
    padding-left: 30px;
    overflow: visible;
    /* Unset default oxd input styles */
    & .oxd-input {
      border-radius: unset;
      border: unset;
      min-height: unset;
      height: auto;
      width: auto;
      padding: unset;
      display: inline;
      font-size: 0.85rem;
      padding-left: 15px;
      &--active {
        border: unset;
      }
      &--focus {
        border: unset;
        box-shadow: unset;
        outline: 0;
      }
      &--error {
        border: unset;
        box-shadow: unset;
      }
    }
    & .toggled {
      @include oxd-respond-to('xs') {
        display: inline;
      }
      @include oxd-respond-to('md') {
        display: none;
      }
    }
  }
  &-button {
    position: absolute;
    top: 110px;
    right: -12px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background-color: $oxd-menu-slide-button-color;
    @include oxd-respond-to('xs') {
      display: none;
    }
    @include oxd-respond-to('md') {
      display: inline-flex;
    }
    & i {
      color: $oxd-white-color !important;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:active {
      background-color: $oxd-menu-slide-button-color;
    }
  }
  &.--fixed {
    flex: none;
  }
}
